
$fa-font-path:  "/static/fonts";
@import "../node_modules/@fortawesome/fontawesome-free/scss/fontawesome";
@import "../node_modules/@fortawesome/fontawesome-free/scss/solid";
@import '../node_modules/@fortawesome/fontawesome-free/scss/brands';

@import "color";
$family-sans-serif: "Lato", sans-serif;
$navbar-item-hover-background-color: $primary;
$navbar-dropdown-background-color: $primary;
$navbar-dropdown-radius: 4px;
$navbar-dropdown-item-hover-background-color: $primary;
$navbar-dropdown-border-top: none;
$navbar-dropdown-arrow: #FFF;

@import "../node_modules/bulma/bulma.sass";
@import "../node_modules/bulma-ribbon/dist/css/bulma-ribbon";

@import "utils";
@import "sticky-footer";